STELLAR_NETWORK = <TESTNET|PUBLIC> # TESTNET
HORIZON_URL = <https://horizon-testnet.stellar.org|https://horizon.stellar.org> # https://horizon-testnet.stellar.org
TXF_AGENT = <Stellar address>
TXF_CREATOR = <Stellar address>
TXF_CREATOR_SECRET = <Stellar secret>
